@import "~bootstrap/scss/bootstrap";

body {
  background-color: #39CCCC;
}

h1, .h1 {
  font-size: 3.5rem;
  -webkit-text-fill-color: snow;
}

h2, .h2 {
  font-size: 2rem;
  color: snow;
}

.hide{
  display: none;
}

img{
  vertical-align: -webkit-baseline-middle;
  border-style: none;
  width: 75;
  width: 200px;
}

#allMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-left: 26rem;
}


.col-3{
  margin: 15px;
    border: 1px solid BLACK;
    box-shadow: 1px 2px 2px 1px;
    padding: 0px;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5ppx;
    margin-right: 5px;
    max-width: 100%;
    // background-color: blanchedalmond;
    align-content: center;
}